.wrapper {
    position: absolute;
    top: 0;
    position: relative;
    background-color:  #f6f5fa;
    padding: 0 0.18rem;
    padding-top: .14rem;
    padding-bottom: .14rem;
  }
.search {
    height: 0.32rem;
    display: flex;
    margin-bottom:.2rem ;
}
.search_content {
    padding-left: .7rem;
    display: flex;
    flex: 1;
    line-height: 0.32rem;
    background: #e8e7ed;
    border-radius: 0.16rem;
}
.search_icon {
    font-size: .2rem;
    width: 0.44rem;
    text-align: center;
    color: #b6b6b6;
}
.progress_icon {
    font-size: .2rem;
    line-height: .32rem;
    width: 0.44rem;
    text-align: center;
    color: black;
}
.question_icon {
    line-height: .32rem;
    width: 0.44rem;
    text-align: center;
    color: black;
}
.search_input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    height: 0.32rem;
    color: #333333;
    font-size: .14rem;
}
:global(.ant-input-search) {
    background-color: #ffffff !important;
    font-size: .14rem;
    color: #555555  !important;
    user-select: none;
    margin-top: .8rem;
}
.days-question {
   height: 0.55rem;
   line-height: .2rem;
   width: 100%;
   background:  #edecf2;
   border-radius: .1rem;
   display: block;
}
.days-question_info {
    font-size: .10rem;
    padding-top: .06rem;
    padding-left: .8rem;
    color: #b6b6b6;
}
.question-number {
    font-size: .12rem;
    color: black;
    font-weight: bolder;
}
.calendar {
    position: absolute;
    left: .3rem;
    top: .6rem;
    display: block;
    text-align: center;
    width: .45rem;
    height: .55rem;
    background: #fff;
    border-radius: .1rem;
    box-shadow: 0 2px 2px 0 #000;
}
.month {
    margin-top: .08rem;
    display: block;
    color: red;
    font-size: .14rem;
}
.day {
    line-height: .2rem;
    font-weight: bolder;
    display: block;
    font-size: .2rem;
}
.question_forward {
    position: absolute;
    top: .8rem;
    left: 3.2rem;
}